In [3]:
import findspark

In [4]:
findspark.init('/home/ubuntu/spark-2.4.0-bin-hadoop2.7/')

In [5]:
import pyspark

In [7]:
from pyspark.sql import SparkSession

In [8]:
spark = SparkSession.builder.appName('json_df').getOrCreate()

In [9]:
df = spark.read.json('people.json')

In [10]:
df.columns

['age', 'name']

In [11]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [12]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [14]:
from pyspark.sql.types import StructField, StructType, IntegerType, StringType

In [20]:
data_schema = [StructField('age', IntegerType(), True), #True meaning the column can be Null
                StructField('name', StringType(), True)]

In [21]:
final_struct = StructType(fields=data_schema)

In [22]:
df = spark.read.json('people.json', schema = final_struct)

In [23]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [24]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [25]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [26]:
df.select('age')

DataFrame[age: int]

In [29]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [30]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [31]:
df.withColumn('new_age', df['age']*2).show()

+----+-------+-------+
| age|   name|new_age|
+----+-------+-------+
|null|Michael|   null|
|  30|   Andy|     60|
|  19| Justin|     38|
+----+-------+-------+

In [34]:
df.withColumnRenamed('age','New_age').show()

+-------+-------+
|New_age|   name|
+-------+-------+
|   null|Michael|
|     30|   Andy|
|     19| Justin|
+-------+-------+

In [33]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [36]:
df.createOrReplaceTempView('people')

In [40]:
results = spark.sql("SELECT * FROM people")

In [41]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+